# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/dist/
/.stylelintcache
/src/components/avatar-input/avatar-input.css
/src/components/avatar-input/avatar-input.css.map
/src/components/button/button.css
/src/components/button/button.css.map
/src/components/chat-list/chat-list.css
/src/components/chat-list/chat-list.css.map
/src/components/chat-list-item/chat-list-item.css
/src/components/chat-list-item/chat-list-item.css.map
/src/components/flat-button/flat-button.css
/src/components/flat-button/flat-button.css.map
/src/components/form/form.css
/src/components/form/form.css.map
/src/components/input/input.css
/src/components/input/input.css.map
/src/components/input-with-valid/input-with-valid.css
/src/components/input-with-valid/input-with-valid.css.map
/src/components/layout/layout.css
/src/components/layout/layout.css.map
/src/components/link/link.css
/src/components/link/link.css.map
/src/components/message/message.css
/src/components/message/message.css.map
/src/components/messages-list/messages-list.css
/src/components/messages-list/messages-list.css.map
/src/components/nav/nav.css
/src/components/nav/nav.css.map
/src/components/page/page.css
/src/components/page/page.css.map
/src/components/profile-input-with-valid/profile-input-with-valid.css
/src/components/profile-input-with-valid/profile-input-with-valid.css.map
/src/assets/styles/styles.css
/src/assets/styles/styles.css.map
/src/assets/styles/variables.css
/src/assets/styles/variables.css.map
/coverage/
