.btn-container {
  background-color: #3369f3;
  padding: 12px 70px;
  align-items: center;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
  width: 280px;

  &-title {
    color: #ffffff;
    font-size: 13px;
    line-height: 13px;
  }
}
