.btn-container {
  background-color: var(--primary-blue);
  padding: 12px 70px;
  align-items: center;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
  width: 300px;

  &-title {
    color: var(--primary-inverted-text);
    font-size: 13px;
    line-height: 13px;
  }
}
