.flat-btn {
  &-container {
    padding: 10px 0;
    align-items: start;
    cursor: pointer;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--primary-border);
    background-color: transparent;
    text-align: left;
  }

  &-title {
    color: var(--primary-blue-background);
    font-size: 13px;
    line-height: 13px;
    text-align: start;
  }
}
