.chat-item {
  &-container {
    padding: 12px;
    align-items: start;
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-bottom: 1px solid var(--primary-border);

    &.active {
      background-color: var(--message-active);
    }
  }

  &-text-container {
    display: flex;
    flex-direction: column;
    width: 193px;
    margin: 12px 10px;
    gap: 4px;
  }

  &-avatar {
    width: 47px;
    height: 47px;
    background-color: var(--message-active);
    border-radius: 36px;
  }

  &-title {
    color: var(--primary-text);
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &-text {
    color: var(--primary-text);
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    max-height: 30px;
  }

  &-info {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &-date {
      color: var(--primary-blue);
      font-size: 10px;
      line-height: 10px;
    }

    &-new-num {
      color: var(--primary-inverted-text);
      background-color: var(--primary-link);
      border-radius: 36px;
      font-size: 10px;
      line-height: 10px;
      width: 12px;
      height: 12px;
      align-self: end;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
