.input-container {
  display: flex;
  flex-direction: column;

  &-title {
    color: #999999;
    font-size: 9px;
    margin-bottom: 9px;
  }

  &-border {
    height: 1px;
    margin-top: 7px;
    background-color: #3369F3;
  }

  &-value {
    color: #1e1e1e;
    font-size: 13px;
    line-height: 13px;
    width: 280px;
    border: none;
    outline: none;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &-label-error {
    color: #ff2f2f;
    font-size: 8px;
    line-height: 8px;
    margin-top: 7px;
  }
}