<div class="avatar-container">
    <img width="100" height="100" src="../../assets/img/avatarDefault.png" alt="Аватар по умолчанию">
    <input type="file" name="avatar" id="avatarInput" accept="image/*" hidden>
    <label for="avatarInput" class="avatar-container-label">Загрузить аватар</label>
</div>
