.avatar-container {
  align-self: center;
}

.file-avatar {
  display: inline-block;

  &__label {
    display: block;
    cursor: pointer;
    width: 130px;
    height: 130px;
  }

  &__preview {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__placeholder {
    width: 100%;
    height: 100%;
    background-color: var(--av-placeholder-background);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: var(--primary-inverted-text);
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
  }

  &__input {
    display: none;
  }
}

