.avatar-container {
  position: relative;
  display: inline-block;

  &-label {
    color: var(--primary-invertedText);
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;
  }

  &:hover &-label {
    opacity: 1;
  }
}
