.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1001;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }

  &__input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #3369f3;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
