<div class="app">
    <span class="error-title text">{{errorCode}}</span>
    <span class="error-info text">{{errorText}}</span>
    <span class="nav-container text"><a href="../../index.html">Назад</a></span>
</div>
