.text {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
}

.error-title {
  font-size: 40px;
  line-height: 40px;
}

.error-info {
  font-size: 20px;
  margin-top: 20px;
}

.nav-container {
  margin-top: 69px;
  font-size: 11px;
}
