.profile-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    color: var(--primary-title);
    font-size: 13px;
    margin-bottom: 9px;
  }

  &-border {
    height: 1px;
    margin-top: 7px;
    background-color: var(--primary-border);
  }

  &-text {
    color: var(--secondary-text);
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    flex: 1;
  }

  &-value {
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &-label-error {
    color: var(--primary-error);
    font-size: 8px;
    line-height: 8px;
    margin-top: 7px;
  }
}
