@use 'fonts';

body {
  font-family: 'Inter', sans-serif;
}

.pnl {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__bordered {
    padding: 50px 30px 30px 30px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  }

  &-title {
    color: #1e1e1e;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  &-props-container {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-login {
      margin-bottom: 139px;
    }

    &-registration {
      margin-bottom: 47px;
    }
  }

  &-btn-container {
    margin-bottom: 14px;
  }
}

.link {
  color: #3369f3;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
}