:root {
  --primary-accent: #f00;
  --primary-error: #ff2f2f;
  --primary-blue: #3369f3;
  --primary-background: #fff;
  --primary-inverted-text: #fff;
  --primary-title: #1e1e1e;
  --primary-text: #1e1e1e;
  --secondary-text: #999;
  --primary-border: #eaeaea;
  --primary-link: #3369f3;
  --primary-shadow: 0 4px 8px rgb(0 0 0 / 14%);
}
